@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../imagens/principal.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.logo {
    padding-top: 12px;
}

.navbar {
    background-color: #ECF4FF;
    padding: 20px;
}

.navbar a:hover {
    background-color: #ECF4FF;
    opacity: 0.5;
    transition: 0.7s linear;
}


ul {
    list-style-type: none;
    float: right;
}

ul a {
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding-right: 80px;
    font-size: 15px;
}

.content { 
    text-align: center;
    margin: 250px;
}

.button {
    background-color: #e24816;
    color: #fff;
    border: none;
    padding: 18px;
    text-transform: uppercase;
    margin: 25px;
    border-radius: 12px;
    letter-spacing: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.9;
}

button:hover {
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    transition: 0.7s linear;
}

.section-light {
    background-color: #ECF4FF;
    text-align: center;
    padding: 50px 80px;
    color: #666;
    min-width: 300px;
    max-width: 2500px;
    margin: auto;
}

.rodape { 
    text-align: right;
    color: #fff;
    font-weight: bold;
    bottom: 0;
    padding: 8px;
    font-size: 12px;
    display: block;
    max-width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}