<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Grupo FCamara - Formação e Consultoria</title>
</head>

<body>

    <header>
        <section class="navbar">
            <nav>
                <a href="index.html" target="_self"><img src="../imagens/logo.png" class="logo"
                        alt="Logo do Grupo FCamara"></a>

                <ul>
                    <a href="index.html" target="_self">
                        <li>Home</li>
                    </a>
                    <a href="orientacoes.html" target="_self">
                        <li>Orientações</li>
                    </a>
                    <a href="precaucoes.html" target="_self">
                        <li>Precauções</li>
                    </a>
                    <a href="duvidas.html" target="_self">
                        <li>Dúvidas?</li>
                    </a>
                </ul>
            </nav>
        </section>
    </header>

    <main class="content">
        <button class="button"> Retorno presencial </button>
    </main>

    <section class="section-light">
        <h1> Retorno presencial </h1>
        <p> Com a pandemia da Covid-19, muita coisa mudou. O trabalho remoto não foi uma opção, mas sim uma necessidade
            e assim se foram quase 2 anos de home office. Porém, hoje com a vacinação em andamento, já podemos enxergar
            novas possibilidades, e aqui na FCamara não é diferente, com muito cuidado e segurança estamos planejando a
            reabertura da nossa empresa. Estamos muito felizes com essa novidade, mas sabemos que não será como antes.
        </p>

        <p> Para poder organizar essa reabertura, precisamos primeiro deixar todas as informações sobre esse processo
            bem claras. É importante lembrar que o retorno ao trabalho presencial será <strong>opcional</strong>, ou
            seja, para quem ainda não se sente à vontade para ir, ou mora fora das regiões onde estão os escritórios,
            irá permanecer em casa. Segurança em primeiro lugar!
        </p>

        <p><a href="orientacoes.html">Orientações</a></p>
        <p><a href="precaucoes.html">Precauções</a></p>

    </section>

    <footer class="rodape">
        &copy; 2021 - Desenvolvido por Lara Fernanda
    </footer>

</body>

</html>