<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/precaucoes-style.css">
    <title>Grupo FCamara - Precauções</title>
</head>

<body>
    <header>
        <section class="navbar">
            <nav>
                <a href="index.html" target="_self"><img src="../imagens/logo.png" class="logo"
                        alt="Logo do Grupo FCamara">
                </a>

                <ul>
                    <a href="index.html" target="_self">
                        <li>Home</li>
                    </a>
                    <a href="orientacoes.html" target="_self">
                        <li>Orientações</li>
                    </a>
                    <a href="precaucoes.html" target="_self">
                        <li>Precauções</li>
                    </a>
                    <a href="duvidas.html" target="_self">
                        <li>Dúvidas?</li>
                    </a>
                </ul>
            </nav>
        </section>
    </header>

    <main class="content">
        <button class="button"> Precauções </button>
    </main>

    <section class="section-light">
        <h2> Precauções </h2>
        <p> - Será medida a temperatura ao chegar no escritório.
            <br> - Todos os consultores deverão usar máscaras dentro das acomodações dos escritórios.
            <br> - Nas mesas existem adesivos sinalizando onde os #SangueLaranjas devem sentar, para que haja o
            distanciamento necessário.
            <br> - Os escritórios terão à disposição água, sabonete líquido, papel toalha e álcool 70% para higiene das mãos;
            <br> - Os ambientes de trabalho e de circulação de pessoas serão mantidos constantemente arejados e ventilados. Quando for utilizado, o ar condicionado deve ser mantido com seus componentes limpos e revisados;
            <br> - A limpeza e a desinfecção de ambientes/superfícies deverão ser intensificadas, sobretudo nos locais de grande circulação de pessoas e pontos habitualmente muito tocados;
        </p>
        <p><a href="duvidas.html">Dúvidas?</a></p>
    </section>

    <footer class="rodape">
        &copy; 2021 - Desenvolvido por Lara Fernanda
    </footer>

</body>

</html>